{%extends 'base.html'%}

{%block main_block%}
    

<div class="container mt-5 d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Title:{{data.title}}
          </div>
         <ul class="list-group-flush">
       
             <li class="list-group-item">year:{{data.year}}</li>
             <li class="list-group-item">languages:{{data.languages}}</li>
             <li class="list-group-item">runtime:{{data.run_time}}</li>
             <li class="list-group-item">director:{{data.director}}</li>
             <li class="list-group-item">genre:{{data.genre}}</li>
         </ul>
     

    </div>

 </div>
 {%endblock%}