<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BMI </h1>
    <form action="" method="post">

        {% csrf_token %}

        <label for="">weight in kg</label>
        <input type="text" name="wbox">

        <label for="">heightin kg</label>
        <input type="text" name="hbox">

        <button type="submit">BMI</button>

        {{data}}
    </form>
</body>
</html>