<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Multiplication</h1>
    
    <form action="" method="post">
        {% csrf_token %}


        
            <label for="">enter number1</label>
            <input type="text" placeholder="enter number1" name="box1">
     

   
            <label for="">enter number2</label>
            <input type="text" placeholder="enter number2" name="box2">
  

   
            <button type="submit">Multiply</button>

            output={{data}}
       


    </form>
</body>
</html>